body {
  margin: 0;
  padding: 0;
  background-color: aqua;
  font-family: Arial, Helvetica, sans-serif;
}

.border {
  display: flex;
  justify-content: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white ;
  width: 350px;
  margin: 10px;
  text-align: center;
}

.profile img {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  margin: 5px;
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.buttons button {
  padding: 15px 30px;
  border-radius: 10px;
  border: none;
}

.buttons button:focus {
  background-color: aqua;
}

#name {
  margin-right: 7%;
}

#skills {
  margin-left: 7%;
}

 img {
  width: 30px;
  height: 30px;
  margin-left: 5px;
}

.like-counter {
  display: flex;
  flex-direction: row;
  text-align: center;
  margin-top: 15px;
}

.like-counter p {
  margin-right: 5px;
}